<div class="modifier-attribute-fields">
  <%= f.input :attr, label: t('stories.edit.attribute'),
    collection: attributes, prompt: "select an attribute" %>
  <%= f.input :quantity, label: t('stories.edit.modifier'),
    collection: modifiers, prompt: "select attribute modifier" %>
  <%= link_to_remove_fields t('stories.edit.remove_modifier'), f, "modifier-attribute" %>
</div>