<div class="modifier-item-fields">
  <%= f.label :item_id, t('stories.edit.item') %>
  <%= f.collection_select :item_id, Item.by_story(@story), :id, :name, prompt: "select an item" %>
  <%= f.input :quantity, label: t('stories.edit.item_quantity'),
    collection: quantity, prompt: "select quantity of items" %>
  <%= link_to_remove_fields t('stories.edit.remove_item'), f, "modifier-item" %>
</div>