<div class="decision-fields">
  <%= f.input :destiny_num, label: "Destiny", as: :string, input_html: {title: Calabouco::CHAPTER_DESTINY} %>
  <%= link_to_remove_fields "Remove decision", f, "decision" %>
</div>
