<div class="modifier-attribute-fields">
  <%= f.input :attr, label: "Attribute",
    collection: attributes, prompt: "select an attribute" %>
  <%= f.input :quantity, as: :string %>
  <%= link_to_remove_fields "Remove modifier", f, "modifier-attribute" %>
</div>