<div class="monster-fields">
  <%= f.input :name, input_html: {title: Calabouco::CHAPTER_MONSTER_NAME}%>
  <%= f.input :skill, as: :string, input_html: {title: Calabouco::CHAPTER_MONSTER_SKILL} %>
  <%= f.input :energy, as: :string, input_html: {title: Calabouco::CHAPTER_MONSTER_ENERGY} %>
  <%= link_to_remove_fields "Remove monster", f, "monster" %>
</div>