<div class="story_div">
  <h3>Dungeon Masters</h3>
  <p>
    Lorem ipsum dolor sit amet, sit no novum soluta voluptua, cu usu nostrum dissentias dissentiunt. Mea quod veri vocibus no. Eirmod iriure ei per, te iriure offendit sed. Est ne bonorum invenire, pro agam regione offendit ei. Eros doctus argumentum sea eu. Probatus patrioque his ea.
  Magna corrumpit sit eu, id torquatos vulputate nam. Cu has fugit labore efficiendi. Cu eos justo facer iracundia, ea duo vidit ancillae. Tale unum semper usu ei, has graeci placerat eu, esse everti suscipiantur sea at. Ut qui diam elit commodo. Mel et magna nostrud, eum dicit aliquip in, idque putant vis ad.
  An est purto congue impedit. Te novum aliquando sed, vix ut mazim ornatus recteque. Ius essent eruditi posidonium ei. Reque facete volumus eos cu. Cu vix ignota labitur sapientem, ut inani consequat per.
  Ad eum timeam appareat dissentiet, eos no mutat tacimates definitionem, mazim libris iracundia et vel. Quas malis pri id. Has explicari intellegebat ea, at has vero harum. Movet maiorum adipiscing ea vis, errem everti volutpat eu eum.
  An vim wisi ludus everti, his nostrud fierent reprimique ne, vel at assum nusquam alienum. Scripta expetenda ea per, te nam detracto definiebas conclusionemque. Ut vis quas omnis necessitatibus, alterum salutatus constituto pri ut, id aeterno explicari mel. Habeo possim ne sed. His paulo everti efficiantur in. Pro ut fabulas minimum elaboraret.
  </p>
  <h3>Last Stories</h3>
  <% if @stories.empty? %>
    <p>No stories.</p>
  <% else %>
  <table>
    <tr>
    <% @stories.each do |story| %>
      <td>
      <div class="index_stories">
        <p><strong><%= link_to story.title, story_prelude_path(story) %></strong></p>
        <%= image_tag story.cover(:thumbnail) %>
      </div>
      </td>
    <% end %>
    </tr>
  </table>
  <% end %>
</div>