/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.chapter-fields {
    border: 1px solid;
    padding: 15px;
    border-radius: 9px;
}

.attribute-fields {
    border: 1px solid;
    padding: 5px;
    border-radius: 9px;
    margin: 10px;
}

.item-fields {
    border: 1px solid;
    padding: 5px;
    border-radius: 9px;
    margin: 10px;
}

.chapter-image {
    display: block;
}

.item {
    float: left;
    margin: 10px;
    border: 1px solid;
    border-radius: 9px;
    overflow: auto;
    top: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #ECEAE0;
    width: 1100px;
}

.special-attribute {
    float: left;
    margin: 10px;
    border: 1px solid;
    border-radius: 9px;
    overflow: auto;
    top: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #ECEAE0;
    width: 1100px;
}

#tabs {
    width: 1100px;
}

.chapter {
    float: left;
    margin: 10px;
    border: 1px solid;
    border-radius: 9px;
    overflow: auto;
    top: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #ECEAE0;
    width: 700px;
}

.adventurer {
    float: right;
    margin: 10px;
    border: 1px solid;
    border-radius: 9px;
    top: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #ECEAE0;
    width: 300px;
}

.decisions {
    margin: 5px;
    padding: 15px;
    border: 1px solid;
    border-radius: 9px;
}

.decision-fields {
    border: 1px solid;
    padding: 5px;
    margin: 10px;
    border-radius: 9px;
}

.monsters {
    margin: 5px;
    padding: 15px;
    border: 1px solid;
    border-radius: 9px;
}

.monster-fields {
    border: 1px solid;
    padding: 5px;
    margin: 10px;
    border-radius: 9px;
}

.modifiers-items {
    margin: 5px;
    padding: 15px;
    border: 1px solid;
    border-radius: 9px;
}

.modifiers-attributes {
    margin: 5px;
    padding: 15px;
    border: 1px solid;
    border-radius: 9px;
}

.modifier-item-fields {
    border: 1px solid;
    padding: 5px;
    margin: 10px;
    border-radius: 9px;
}

.modifier-attribute-fields {
    border: 1px solid;
    padding: 5px;
    margin: 10px;
    border-radius: 9px;
}

.message-container {
    height: 20px;
    display: block;
}

.sigma {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 500px;
    overflow: auto;
    scroll: false;
    top: 0;
    left: 0;
}

label {
    display: inline-block;
    width: 6em;
}

.stories {
    margin-left: auto;
    margin-right: auto;
}

.story_div {
    border: 1px solid;
    border-radius: 9px;
    padding: 10px;
    margin: 15px;
    width: 1000px;
    height: 600px;
    background-color: #ECEAE0;
}

.index_stories {
    margin-left: 5px;
    margin-right: 5px;
}

.image {
    float: left;
    width: 500px;
}

.prelude {
    float: right;
    width: 500px;
}

.content {
    margin: 0 auto !important;
    /*width: 100%;*/
    width: 1100px;
    padding: 10px;
    border: 1px solid;
    border-radius: 9px;
    background-color: #E2ECDF;
}

.not-used {
    float: left;
    margin: 10px;
    border: 1px solid;
    border-radius: 9px;
    top: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #ECEAE0;
    width: 1000px;
}
