@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import 'colors';

// a {
//   color: $darkBlue;
//   &:hover {
//     color: $darkBlue;
//     text-decoration: underline;
//   }
// }

h1, h2, h3 {
  font-family: 'Droid Sans';
  font-weight: 700;
}

.actions {
  margin-top: 10px;
  margin-bottom: 10px;
  .row {
    margin: 10px 0;
  }
}

.all {
  margin-top: 60px;
}

body { 
  background-color: $backgroundColor;
}

.btn-toolbar {
  padding: 10px 10px;
  .btn-default {
    background-color: $blue;
  }
  .ui-widget-content {
    background-color: $white;
  }
}

.chapter-fields {
  border: 1px solid;
  padding: 15px;
  border-radius: 7px;
  left-margin: 0;
  .ui-widget-content {
    background-color: $beige;
  }
}

.attribute-fields {
  border: 1px solid;
  padding: 5px;
  border-radius: 7px;
  margin: 10px;
}

.item-fields {
  border: 1px solid;
  padding: 5px;
  border-radius: 7px;
  margin: 10px;
  .usable-item-attributes {
    display: none;
  }
  .visible {
    display: block;
  }
}

.chapter-image {
  display: block;
}

.wrapper {
  float: left;
  margin: 10px;
  border: 1px solid;
  border-radius: 7px;
  overflow: auto;
  top: 20px;
  bottom: 20px;
  padding: 10px;
  background-color: $beige;
  width: 1000px;
}

#tabs {
  width: 1100px;
}

.chapter {
  border: 1px solid;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  height: 700px;
  overflow: auto;
  background-color: $beige;
}

.adventurer {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 700px;
  background-color: $beige;
  overflow: auto;
  a {
    color: $blue;
    &:hover {
      color: $blue;
    }
  }
}

.decisions {
  margin: 5px;
  padding: 15px;
  border: 1px solid;
  border-radius: 7px;
}

.decision-fields {
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
  left-margin: 5px;
}

#dice-container {
  margin: 10px 0;
}

.features {
  .dungeon-description {
    background-color: #73A3A2;
  }
  .feature-content {
    padding: 50px 0;
  }
  .feature {
    font-family: "Ubuntu";
    font-size: 18px;
  }
  .feature-even {
    background-color: #98BFB7;
  }
  .last-stories {
    padding: 10px 0;
  }
}

.header {
  height: 200px;
  .header-content {
    padding: 40px 0;
  }
}

.help-block {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 13px;
  &:before {
    font-family: FontAwesome;
    content: "\f059";
  }
}

.monsters {
  margin: 5px;
  padding: 15px;
  border: 1px solid;
  border-radius: 7px;
}

.monster-fields {
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}

.modifiers-items {
  margin: 5px;
  padding: 15px;
  border: 1px solid;
  border-radius: 7px;
}

.modifiers-attributes {
  margin: 5px;
  padding: 15px;
  border: 1px solid;
  border-radius: 7px;
}

.modifier-item-fields {
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}

.modifier-attribute-fields {
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}

.message-container {
  height: 20px;
  display: block;
}

.note-codable {
  display: none;
}

.note-editable {
  background-color: $white;
  border: 1px solid $black;
  overflow: auto;
}

.sigma {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #222;
  height: 500px;
  overflow: auto;
  scroll: false;
  top: 0;
  left: 0;
}

#story-start {
  margin-top: 10px;
}

label {
  display: inline-block;
  width: auto;
  margin-top: 3px;
}

.stories {
  margin-left: auto;
  margin-right: auto;
}

.story_div {
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
  margin: 15px;
  background-color: $beige;
}

.index_stories {
  margin-left: 5px;
  margin-right: 5px;
}

.image {
  // width: 500px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.prelude {
  margin-top: 50px;
  height: 500px;
  overflow: auto;
}

.content {
  padding-top: 20px;
  // padding-left: 30px;
  // padding-right: 30px;
  padding-bottom: 20px;
  border: 1px solid;
  border-radius: 7px;
  background-color: $beige;
}

.not-used {
  width: 900px;
  margin-left: 0;
  border: 1px solid;
  border-radius: 7px;
  background-color: $beige;
  margin-top: 20px;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  scroll: false;
  top: 0;
  left: 0;
}

.tooltip-style {
  background-color: white;
}

@media (max-width: 500px) {
  .image {
    margin-left: 0;
  }
  .chapter {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 500px;
    overflow: auto;
  }
  .adventurer {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid;
    border-top: 0;
    height: 400px;
    overflow: auto;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .all {
    margin-top: 100px;
  }
  .chapter {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 500px;
    overflow: auto;
  }
  .adventurer {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid;
    border-top: 0;
    height: 400px;
    overflow: auto;
  }
}